<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <h1> {{title}} </h1>
  <p>A line chart made with {{title}}, Chart.js, and AXIOS. Data provided by CoinDesk.</p>
  <input type="date" name="startdate" id="startdate">
  <input type="date" name="enddate" id="enddate">
  <p id="message"></p>
  <canvas id="myChart"></canvas>
</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>